<div fxLayout="row" fxLayoutGap="40px" style="margin: 50px">
  <div fxFlex="50" fxLayout="column">
    <mat-form-field fxFlex="100">
      <mat-label>Titulo</mat-label>
      <input matInput type="text" required [(ngModel)]="ideasInput.title" />
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-label>Imagen</mat-label>

      <input matInput type="text" required [(ngModel)]="ideasInput.image" />
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        type="text"
        requiredname=""
        id=""
        cols="30"
        rows="10"
        [(ngModel)]="ideasInput.description"
      ></textarea>
    </mat-form-field>
    <br />
    <div fxLayout>
      <button mat-raised-button color="primary" (click)="newIdea()">
        <mat-icon>edit</mat-icon>
        Guardar
      </button>
      <span class="end"></span>
      <button
        mat-raised-button
        color="warn"
        *ngIf="ideasInput.id"
        (click)="deleteIDea()"
      >
        <mat-icon>delete</mat-icon>
        Borrar
      </button>
    </div>
  </div>

  <div fxFlex="50">
    <img
      style="border-radius: 10px"
      src="https://res.cloudinary.com/runyshark1/image/upload/v1658592180/journal/Captddddura_tqjeke.jpg"
      alt=""
    />
  </div>
</div>
